@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center; margin-top:50px;">
    <h1>Welcome to ASP.NET Core Basics</h1>

    <hr />

    <h2>@ViewBag.AppName</h2>

    <p><strong>Version:</strong> @ViewBag.Version</p>

    <p><strong>Service Message:</strong> @ViewBag.ServiceMessage</p>

</div>
